@use "../../styles/mixins/mixins" as mix;
@use "../../styles/animation/animation" as animation;

.services {
    padding: 4rem 0;
    .services-title {
        h1 {
            text-align: center;
            margin-bottom: 4rem;
            font-size: 4rem;
            @include mix.gradient-color-mix2;
            @include mix.gradient-text;
        }
    }
    .services-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        .services-desc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #333;
            padding: 2rem;
            border-radius: 16px;
            text-align: center;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
            width: 400px;
            transition: transform 0.3s;

            &:hover {
                transform: translateY(-30px);
                @include mix.gradient-background-green;
            }
        }
        p {
            padding: 1rem;
            line-height: 1.3;
        }
    }
    @include mix.responsive(phone) {
        .services-title h1 {
            font-size: 3rem;
        }
        .services-container {
            flex-wrap: nowrap;
            overflow-x: auto;
            gap: 1rem;

            scroll-snap-type: x mandatory;
            justify-content: flex-start;

            &::-webkit-scrollbar {
                display: none;
            }
            .services-desc {
                width: 310px;
                @include mix.gradient-background-green;
                flex: 0 0 80%;
                scroll-snap-align: center;
                margin: 0 auto;
            }
        }
    }

    @media (min-width: 500px) and (max-width: 768px) {
        .services-container {
            .services-desc {
                flex: 0 0 40%;
            }
        }
    }
}
