.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 9999;
}

.panel {
  flex: 1;
  background-color: #eae6dd;
}

.panel1,
.panel3 {
  animation: slideUp 2.5s ease-in-out forwards;
}

.panel2,
.panel4 {
  animation: slideDown 2.5s ease-in-out forwards;
}

.panel1 {
  animation-delay: 0s;
}
.panel2 {
  animation-delay: 0.2s;
}
.panel3 {
  animation-delay: 0.3s;
}
.panel4 {
  animation-delay: 0s;
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0%);
    opacity: 0.6;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
