@use "../../styles/mixins/mixins" as mix;
@use "../../styles/animation/animation" as ani;

.home-nav-item {
    opacity: 0;
    animation: animationSlide 0.5s forwards;
    transform: translateY(-100px);
}

@include ani.animation-delays("home-delay", 5, 1.3s);

.hero {
    @include mix.flex-center;
    margin-top: 4rem;
    // margin-bottom: 9rem;
    min-height: calc(100vh - 20px); //BURAYI KONTROL ET
    text-align: center;

    .container {
        @include mix.flex-center;
        flex-direction: column;
    }

    .intro {
        @include mix.flex-column;
        @include mix.justify-align-center;
        gap: 4rem;

        img {
            width: 270px;
            height: 330px;
            border-radius: 100%;
            border: 1px solid transparent;
            box-shadow: 0 0 17px 5px rgba(0, 255, 0, 0.6);
        }
        h1 {
            @include mix.flex-column;
            @include mix.justify-align-center;
            gap: 1rem;
            .name {
                font-size: 3rem;
                @include mix.gradient-color-mix2;
                @include mix.gradient-text;
            }
            .role {
                font-style: italic;
                font-weight: 300;
            }
        }
    }

    @include mix.responsive(tablet) {
        gap: 7rem;

        .intro {
            img {
                width: 240px;
                height: 300px;
            }

            h1 {
                .name {
                    font-size: 2.2rem;
                }
                .role {
                    font-size: 1.2rem;
                }
            }
        }
    }
    @include mix.responsive(midTablet) {
        gap: 5rem;
        .intro {
            img {
                width: 220px;
                height: 280px;
            }

            h1 {
                .name {
                    font-size: 2rem;
                }
                .role {
                    font-size: 1rem;
                }
            }
        }
    }

    @include mix.responsive(phone) {
        margin-top: 2rem;
        @include ani.animation-delays("home-delay", 5, 0.2s);
        @include mix.flex-column;
        @include mix.justify-align-center;
    }
}

/*.lets-talk {
        @include mix.flex-column;
        gap: 3rem;
        .desc {
            @include mix.flex-column;
            gap: 3rem;
            h2 {
                @include mix.gradient-color-mix;
                @include mix.gradient-text;
                font-size: 4rem;
            }
            p {
                font-size: 1.2rem;
                max-width: 400px;
                line-height: 1.7;
                text-align: left;
            }
        }

        .contact-info {
            @include mix.flex-column;
            gap: 2rem;
            .contact-item {
                display: flex;
                gap: 2rem;
                align-items: center;
            }
            a {
                @include mix.link;
            }
        }
    }*/
