@keyframes animationSlide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.home-nav-item {
  opacity: 0;
  animation: animationSlide 0.5s forwards;
  transform: translateY(-100px);
}

.home-delay-1 {
  animation-delay: 1.3s;
}

.home-delay-2 {
  animation-delay: 1.5s;
}

.home-delay-3 {
  animation-delay: 1.7s;
}

.home-delay-4 {
  animation-delay: 1.9s;
}

.home-delay-5 {
  animation-delay: 2.1s;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  margin-bottom: 9rem;
  gap: 10rem;
}
.hero .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.hero .intro img {
  width: 270px;
  height: 330px;
  border-radius: 100%;
  border: 1px solid transparent;
  box-shadow: 0 0 17px 5px rgba(0, 255, 0, 0.6);
}
.hero .intro h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.hero .intro h1 .name {
  font-size: 3rem;
  background: linear-gradient(266deg, #efca6b -5%, rgb(144, 249, 144) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.hero .intro h1 .role {
  font-style: italic;
  font-weight: 300;
}
.hero .lets-talk {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.hero .lets-talk .desc {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.hero .lets-talk .desc h2 {
  background: linear-gradient(45deg, #3ce43f, #2e552e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 4rem;
}
.hero .lets-talk .desc p {
  font-size: 1.2rem;
  max-width: 400px;
  line-height: 1.7;
  text-align: left;
}
.hero .lets-talk .contact-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero .lets-talk .contact-info .contact-item {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.hero .lets-talk .contact-info a {
  text-decoration: none;
  color: white;
}
@media (max-width: 1060px) {
  .hero {
    gap: 7rem;
  }
  .hero .intro img {
    width: 240px;
    height: 300px;
  }
  .hero .intro h1 .name {
    font-size: 2.2rem;
  }
  .hero .intro h1 .role {
    font-size: 1.2rem;
  }
  .hero .lets-talk .desc {
    gap: 1rem;
  }
  .hero .lets-talk .desc h2 {
    font-size: 2.3rem;
  }
  .hero .lets-talk .desc p {
    font-size: 1.1rem;
    max-width: 300px;
  }
  .hero .lets-talk .contact-info p {
    font-size: 1.2rem;
  }
}
@media (max-width: 990px) {
  .hero {
    gap: 5rem;
  }
  .hero .intro img {
    width: 220px;
    height: 280px;
  }
  .hero .intro h1 .name {
    font-size: 2rem;
  }
  .hero .intro h1 .role {
    font-size: 1rem;
  }
  .hero .lets-talk .desc h2 {
    font-size: 2rem;
  }
  .hero .lets-talk .desc p {
    font-size: 1rem;
    max-width: 230px;
  }
  .hero .lets-talk .contact-info p {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .hero {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero .home-delay-1 {
    animation-delay: 0.2s;
  }
  .hero .home-delay-2 {
    animation-delay: 0.4s;
  }
  .hero .home-delay-3 {
    animation-delay: 0.6s;
  }
  .hero .home-delay-4 {
    animation-delay: 0.8s;
  }
  .hero .home-delay-5 {
    animation-delay: 1s;
  }
}/*# sourceMappingURL=Hero.css.map */