@use "../../styles/mixins/mixins" as mix;
@use "../../styles/animation/animation" as ani;

.nav-item {
    opacity: 0;
    animation: animationSlide 0.5s forwards;
    transform: translateY(-30px);
}

@include ani.animation-delays("delay", 6, 0.2s);

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 128, 0, 0.2);
    backdrop-filter: blur(8px);
    z-index: 1000;
    width: 100%;
    padding: 1rem 0;

    .nav-content {
        @include mix.flex-btw;
        align-items: center;
        max-width: 1200px; // içerik genişliğini sınırla
        margin: 0 auto;    // ortala
        padding: 0 2rem;
    }

    .menu-btn {
        display: none;
        background: transparent;
        border: none;
        outline: none;
        color: white;

    }
    .title {
        white-space: nowrap;

        .material-symbols-outlined {
            color: green;
            margin: 0 1rem;
            font-size: 30px;
            transition: all 1s;

            &:hover {
                transform: rotate(360deg);
                filter: drop-shadow(0 4px 8px rgba(0, 255, 0, 0.5));
                color: #ff8a00;
            }
        }

        .myName {
            font-size: 40px;
            @include mix.gradient-color-mix;
            @include mix.gradient-text;
        }
    }

    .nav-menu {
        @include mix.flex-center;
        @include mix.listStyle;
    }

    li {
        margin: 0 2rem;
        font-weight: 700;

        &:hover {
            color: rgb(80, 230, 80);
            transform: scale(1.1);
            border-bottom: 1px solid green;
        }
    }

    .navConnect {
        @include mix.gradient-color-mix;
        padding: 1rem;
        border-radius: 100px;
        transition: all 1s;

        &:hover {
            transform: rotate(360deg);
            filter: drop-shadow(0 4px 8px orange);
            @include mix.gradient-color-orange;
        }
    }

    @include mix.responsive(phone) {
        background-color: transparent;
        .nav-content .title .material-symbols-outlined{
            display: none;
        }
        
        .menu-btn {
            display: block;
            z-index: 1100;
            
        }
        .nav-menu {
            display: none;
        }
        .navConnect {
            display: none;
        }
        .nav-menu.open {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            width: 220px;
            background: rgba(0, 128, 0, 0.2);
            backdrop-filter: blur(8px);
            padding: 2rem 1rem;
            z-index: 1050;  
    
        }
        li {
            margin: 0;
            top: 0;
            padding: 1rem;
        }
    }
    @include mix.responsive(midTablet) {

        .title .myName {
            font-size: 25px;
        }
        .nav-menu li {
            margin: 0 1rem;
        }
        .navConnect {
            padding: 1rem 1rem;
        }
    }

    @include mix.responsive(tablet) {

        .title .myName {
            font-size: 35px;
        }

      //  .title .material-symbols-outlined {
            //font-size: 40px;
            //margin: 0 2rem;
      //  }
    }
}
