* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161513;
  color: white;
  font-family: "Roboto", sans-serif;
}

ul {
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 80px;

  /* Footer için*/
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* footer hep en altta */
.container > .content {
  flex: 1;
}
